html * {
  font-family: 'Poppins', sans-serif
}

.intro {
  font-weight: 800;
  font-size: 280%;
}

.bio {
  font-weight: 500;
  font-size: large;
}

.title {
  font-weight: 700;
  font-size: 250%;
}

.sub-title {
  font-weight: 600;
  font-size: x-large;
}

.paragraph {
  font-weight: 300;
}

.colored {
  color: #DE6868;
}

.faded {
  opacity: 0.6;
}

.black-text {
  color: black;
}
