@-webkit-keyframes bobble {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}
@keyframes bobble {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  transition: all ease-in-out 250ms;
}

html * {
  font-family: 'Poppins', sans-serif
  scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#main {
	background-color: #f0d8dd;
	/* background-image: url(../img/lightpaperfibers.png); */
	background-position: center;
  background-repeat: repeat;
  background-blend-mode: multiply;
  display: none;
	height: 9000px;
}

.bg-logo {
	background-image: url(../img/logo2.png);
	background-size: 50%;
	background-position: center 5em;
	background-repeat: no-repeat;
	color: #FFF;
}

#head.spacer {
	height: 50em;
}

.down-arrow {
	display: flex;
	justify-content: center;
}

.down-indicator {
	width: 1.25em;
	height: auto;
  animation: bobble 1s infinite alternate;
	opacity: 100%;
  transition: initial;
}

#theater {
  position: fixed;
  display: none;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.video-embed {
  height: 650px;
  width: 100%;
}

#video-gallery {
  transition: none;
  background-image: url(../img/video-gallery.png);
  background-size: 45%;
	background-position: center 5em;
	background-repeat: no-repeat;

	display: flex;
	flex-wrap: wrap;
	background-color: #f0d8dd;
	margin: 15em 1em 0 2em;
  padding-top: 5em;
  border-top: 0.1em solid black;
}

.gallery-title {
  font-weight: 300;
  font-size: 12em;
  color: black;
}

.gallery-head {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#gallery-wrapper {
  padding-top: 40em;
}

#gallery-wrapper .row {
	padding: 1em;
}

.video-box {
  position: relative;
  display: inline-block;
}

.film-title, #title {
  font-weight: 100;
  font-size: 2em;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.05em solid black;
  background-color: #f0d8dd;
}

.thumbnail {
	height: 400px;
	width: auto;
  transition: all .2s ease-in-out;
}

.video-box:hover {
  cursor: pointer;
  transform: scale(0.95);
}


.parallax-bg,
.parallax-bg-main {
  transition: none;
}
